/* ////////////////////////////////////////////// */
/* /////////// MEDIA QUERY //////////////// */
/* ////////////////////////////////////////////// */

/* 화면 너비가 0 ~ 1280px : 데스크탑 */
@media (max-width: 1920px) {
  body {
    background: #f6f4f1;
  }
}
@media (max-width: 1280px) {
  body {
    background: pink;
  }

  :root {
    --size: 400px;
    --scaleMask: 0.5;
    --scaleBtn: 0.7;
  }
  .header-desc {
    width: 35%;
    font-size: 1.5vw;
  }
  .header-footer > span {
    font-size: 1.5vw;
    padding-top: 5%;
  }

  .btn_down {
    width: 7%;
  }
  .site > .right {
    padding-left: 10px;
  }

  .site .left > .imgbox1 {
    display: block;
    width: 90%;
    margin-left: 30px;
  }
  .site.s1 .bold_number {
    padding-left: 10px;
  }

  .site.s2 .left {
    flex: 0 0 57%;
  }
  .site.s2 .right {
    flex: 0 0 43%;
  }

  .site.s3 .left {
    flex: 0 0 50%;
  }
  .site.s3 .left .imgbox3 img {
    width: 100%;
    padding-right: 0;
  }

  .site.s3 .right {
    flex: 0 0 50%;
    position: relative;
  }

  .site.s4 .left {
    flex: 0 0 50%;
    position: relative;
  }

  .site.s4 .left > .imgbox4 {
    width: 90%;
  }
  .site.s4 .right {
    flex: 0 0 50%;
  }
  .site.s4 .bold_number {
    right: -25%;
    bottom: 0;
  }

  .js_works {
    width: 49%;
  }

  .js_imgbox > .ani:nth-child(3),
  .js_imgbox > .ani:nth-child(5) {
    margin-right: 20px;
  }
  .about_box1,
  .about_box2 {
    padding-top: 200px;
  }
  .js_works_left > h3 {
    margin-top: 5%;
  }
  .row2 > p {
    font-size: 2vw;
  }
  .card {
    width: 25%;
  }

  @media (max-width: 960px) {
    body {
      background: gray;
    }
    #section2_0 {
      padding: 15% 2%;
    }
    .me_desc > p {
      width: 500px;
    }

    .header-desc {
      width: 40%;
      font-size: 2vw;
    }
    .header-footer > span {
      font-size: 2vw;
      padding-top: 8%;
    }

    p {
      font-size: 1.6rem;
    }
    .row2 > p {
      text-align: left;
    }
    .site.s2 {
      margin-top: 10%;
    }

    .site .right {
      height: 500px;
    }

    .site.s2 .right {
      margin-bottom: 10%;
    }

    .site.s2 .left {
      flex: 0 0 50%;
    }
    .site.s2 .right {
      flex: 0 0 50%;
    }
    .site.s2 .bold_number {
      top: 92%;
      right: -27%;
    }

    .site.s3 .left {
      flex: 0 0 70%;
      /* background: rgba(255, 255, 255, 0.363); */
    }

    .site.s3 .right {
      flex: 0 0 30%;
      position: relative;
    }

    .site.s3 .left > .imgbox3 {
      width: 100%;
    }
    .site.s3 .bold_number {
      font-size: 35vmin;
      bottom: -200px;
    }

    .site.s5 {
      margin-top: 10%;
    }
    /* animation */

    .scroll_2 {
      width: 500px;
    }

    .s3_circle {
      width: 400px;
      height: 400px;
    }
    .card {
      width: 30%;
    }

    .js_works_left > .bold_number {
      font-size: 11vw;
    }
    .js_works_left > h3 {
      font-size: 5vw;
    }
    .row2 > p {
      font-size: 2vw;
    }
  }

  /*태블릿*/
  @media (max-width: 768px) {
    body {
      background: lemonchiffon;
    }
    #section2_0 {
      padding: 15% 3%;
      height: 1000px;
      position: relative;
      display: block;
      text-align: center;
    }
    .carousel {
      margin: 0 auto;
    }
    .me_desc > .nenu {
      font-size: 50px;
    }
    .me_desc > p {
      width: 100%;
      text-align: center;
    }

    .card:nth-child(3),
    .card:nth-child(4) {
      display: none;
    }
    .card {
      width: 40%;
    }
    .header-left {
      display: none;
    }

    .header-footer {
      /* background: rgba(236, 107, 107, 0.2); */
      top: 0;
    }
    .header-desc {
      width: 80%;
      font-size: 3vw;
      text-align: center;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
    }
    .btn_down {
      width: 8%;
      height: 8%;
      margin-right: 0;
      position: absolute;
      left: 50%;
      bottom: 1%;
      transform: translateX(-50%);
    }
    .header-footer > span {
      display: none;
    }

    .btn {
      margin: 0 auto;
    }
    .btn_box {
      width: 50%;
      margin: 0 auto;
    }
    .site_desc {
      width: 70%;
      margin: 3% auto;
      text-align: center;
    }

    .left > .btn_box {
      float: none;
    }
    .h1 {
      padding-top: 100px;
    }
    .sec1 {
      position: relative;
      padding-top: 150px;
    }

    .container {
      width: 767px;
      margin: 0 auto;
      /* background: rgba(255, 90, 90, 0.3); */
    }

    h3 {
      font-size: 8vw;
      text-align: center;
    }

    .site {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .left {
      margin: 0 5px;
      text-align: center;
      /* background-color: rgba(0, 0, 0, 0.3); */
      position: relative;
    }
    .right {
      margin: 0 5px;
      text-align: center;
      /* background-color: rgba(255, 255, 255, 0.658); */
      position: relative;
    }

    .site .right {
      height: auto;
      padding-left: 0;
    }
    .headline,
    .headline2,
    .headline3 {
      margin: 20% auto;
    }
    .headline > .h_title,
    .h_title,
    .h_title2 {
      text-align: center;
      font-size: 100px;
    }
    .headline > .h_roboto,
    .h_roboto,
    .h_roboto2 {
      text-align: center;
      font-size: 60px;
    }

    .site.s1 .bold_number,
    .site.s2 .right .bold_number,
    .site.s3 .bold_number,
    .site.s4 .bold_number,
    .site.s5 .bold_number {
      display: none;
    }
    .site.s2 .right > .imgbox2 {
      width: 70%;
      margin: 0 auto;
    }

    .site.s3 .left > .imgbox3,
    .site.s4 .left .imgbox4,
    .site.s5 .right .imgbox5 {
      width: 70%;
      height: 350px;
      margin: 0 auto;
    }
    .site .left > .imgbox1 {
      width: 70%;
      height: 400px;
      overflow: hidden;
      margin: 0 auto;
    }
    .site .left > .imgbox1 img {
      width: 100%;
    }
    .btn_view {
      display: block;
      width: 30%;
      position: relative;
      text-align: center;
      margin: 20px auto 0;
    }

    .site.s2 .right {
      height: auto;
    }
    .s3_column {
      float: none;
      margin: 0 auto;
    }
    .s3_column > .btn_box {
      float: none;
      margin: 0 auto;
    }

    .site.s3 h3,
    .site.s3 p,
    .site.s3 > .btn_view {
      text-align: center;
    }
    .site.s4 .left {
      margin-top: 0;
    }
    .site.s4 {
      margin-top: 10%;
    }
    .site.s4 .left {
      margin-left: 0;
    }
    .s4 p br {
      display: block !important;
    }

    .site.s5 .right {
      height: auto;
    }

    /* /ani css/ */
    .scroll_flex {
      display: block;
      width: 100%;
      height: 750px;
      margin: 10% auto;
    }
    .scroll_1 {
      font-size: 13vw;
      margin-right: 0;
    }
    .scroll_2 {
      width: 100%;
      text-align: center;
      margin: 0 auto 5%;
      padding-top: 10%;
      padding-left: 0;
    }

    .scroll_2 > h2 {
      font-size: 8vw;
    }
    .scroll_2 > p {
      margin: 0 auto;
      width: 80%;
      padding-left: 0;
      padding: 3% 0;
    }

    .scroll_2 > .btn {
      margin: 2% auto 0;
    }
    .scroll_3 {
      flex: none;
    }

    .s3_circle.cir1,
    .s3_circle.cir2,
    .s3_circle.cir4,
    .s3_circle.cir5 {
      width: 350px;
      height: 350px;
      margin: 20px auto 0;
    }
    .s3_circle.cir3 {
      width: 400px;
      height: 400px;
      margin: 0 auto;
    }

    /* /javascript/ */

    .js_project {
      display: inline-block;
    }
    .js_works1 {
      margin: 0 auto;
    }
    .js_works2 {
      width: 100%;
      margin-bottom: 3%;
    }

    .programming {
      height: auto;
      background-color: rgba(0, 0, 0, 0.658);
    }
    .flexbox .right {
      margin-left: 0;
    }
    .about {
      text-align: center;
      margin: 0 auto;
    }
    .aboutme_font {
      display: inline;
    }
    .aboutme_font_kim {
      text-align: center;
    }
    .a1 {
      display: none;
    }
    .aboutme_desc {
      font-size: 2vw;
    }

    .headline3 {
      margin: 5% auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .about_box3 > .h_title,
    .about_box3 > .h_roboto,
    .headline3 > .h_title,
    .headline3 > .h_roboto {
      text-align: center;
    }

    .about_box2 > h3 {
      font-size: 4vw;
    }
    .img_box2 img {
      margin: 0 auto;
    }
    .row1:before {
      border: 5px solid black;
    }
  }

  /* 0-576 모바일 */
  @media (max-width: 576px) {
    body {
      background: lightskyblue;
    }
    /* /레이아웃/ */

    :root {
      --size: 300px;
      --scaleMask: 0.375;
      --scaleBtn: 0.7;
    }
    .about_box1,
    .about_box2 {
      padding-top: 50px;
    }

    .me_desc > .nenu {
      font-size: 43px;
    }

    h3 {
      font-size: 11vw;
    }
    .header-mid {
      width: 70%;
      padding: 15px 0 15px 15px;
    }
    .header-right {
      width: 25%;
    }
    .header-mid > a,
    .header-right > a {
      font-size: 2.5vw;
    }
    .header-mid > a {
      padding-left: 3%;
    }
    .header-right > a {
      padding-left: 3%;
    }
    .header-desc {
      font-size: 4vw;
    }
    /* ////////title///////// */
    .headline > .h_title,
    .h_title,
    .h_title2 {
      font-size: 70px;
    }
    .headline > .h_roboto,
    .h_roboto,
    .h_roboto2 {
      font-size: 40px;
      margin-top: 15px;
    }
    /* ///////overflow hidden////////// */
    .span_1.on,
    .span_2.on {
      height: 50px;
    }
    .span_3.on {
      height: 100px;
    }

    /* ////////////////////// */
    /* section 1 */

    .btn {
      margin: 3% auto 0;
    }
    .site {
      margin-bottom: 20%;
    }
    .site_desc {
      width: 90%;
      margin: 3% auto;
      text-align: center;
      line-height: 1.6;
    }

    .site .left > .imgbox1 {
      height: 40%;
    }
    .site.s2 .right > .imgbox2 {
      height: auto;
    }

    .site.s3 .left > .imgbox3,
    .site.s4 .left .imgbox4,
    .site.s5 .right .imgbox5 {
      height: auto;
    }

    .site.s3 {
      padding-top: 0;
    }
    .s3_column > .btn_box {
      width: 50%;
    }

    .site.s5 .right {
      height: 450px;
    }
    .sec6 h2 {
      font-size: 14rem;
    }
    /* //animation// */
    .scroll_2 {
      padding-left: 0;
    }

    .s3_circle.cir1,
    .s3_circle.cir2,
    .s3_circle.cir4,
    .s3_circle.cir5 {
      width: 300px;
      height: 300px;
      margin: 20px auto 0;
    }
    .s3_circle.cir3 {
      width: 350px;
      height: 350px;
      margin: 0 auto;
    }

    .js_works1 {
      margin: 0 auto 8%;
    }
    .js_works_left > .bold_number {
      font-size: 16vw;
    }
    .js_works_left > h3 {
      font-size: 10vw;
    }
    .row2 > p {
      font-size: 4.5vw;
    }
    .s3_circle.cir3 {
      width: 400px;
      height: 400px;
    }

    /* //about // */
    .HYESU {
      display: none;
    }
    .aboutme_font {
      font-size: 9vw;
    }
    .about_box2 > h3 {
      font-size: 6vw;
    }
    .about {
      width: 90%;
    }
    .aboutme_desc {
      font-size: 4vw;
    }
    .img_box2 img {
      width: 90%;
    }

    .contact_mail > span {
      font-size: 3.3rem;
    }
  }
}
