@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('../fonts/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saol_Display_Regular';
    src: url('../fonts/Saol_Display_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}